/*https://coolors.co/palette/bee9e8-62b6cb-1b4965-cae9ff-5fa8d3*/
/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
  margin: 0px;
  font-family:'Titillium Web', sans-serif;
}

.body {
  background-color: #fcfafa;
  padding: 5% 10% 0% 10%;
}

/* Heading Styles */
h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 71px;
  text-align: center;
  color: #183a37;
  transition: color 0.7s ease-in-out;
  margin-top: 2%;
  margin-bottom: 4%;
}

h2 {
  font-weight: bolder;
  color: #243e36;
}

h3 {
  text-align: left;
  color: #243e36;
}

/* Image Styles */
.profilepic>img {
  width: 250px;
  padding: 10px 10px;
  border-radius: 50%;
  transition: transform 0.7s ease-in-out;
}

/* transition Styles */
.profilepic>img:hover {
  transform: scale(1.1);
}

h1:hover {
  color: #6e8387;
}

/* Link Styles */
a {
  color: #457b9d;
  text-align: center;
}
p{
  text-align: left;
}

/* Section Styles */
.profilepic {
  justify-content: center;
}

.about {

  text-align: left;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.educard {
  text-align: center;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  
}

.skillcard {
  text-align: center;
  background-color: #c8d3d5;
  padding: 2.5% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 2%;
}

/* Section Styles */
.projects {

  text-align: center;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 2%;
}

.work {
  text-align: center;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*footer styles */
footer {
  text-align: center;
  background: #6e8387;
  padding: 2% 5%;
  border-radius: 1%;
}

footer>h2 {
  color: #fcfafa;
}

footer>a {
  background-color: #6e8387;
}

footer>a>img {
  width: 30px;
  padding: 10px 10px;
  margin: 0px 7px ;
  background-color: #243e36;
  border-radius: 8px;
  transition: background-color 0.9s ease-in-out;
}

.lin:hover{
  background-color: #2e6a8f;
}

.mail:hover{
  background-color: #d64242;
}

.insta:hover{
  background-color: rgb(220, 71, 106);
}
