/*https://coolors.co/palette/bee9e8-62b6cb-1b4965-cae9ff-5fa8d3*/
/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');



body {
  margin: 0px;
  background-color: #fcfafa;
  font-family: 'Titillium Web', sans-serif;
}

.body {
  background-color: #fcfafa;
  padding: 5% 10% 0% 10%;
}

/* Heading Styles */
h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 71px;
  text-align: center;
  color: #183a37;
  transition: text-shadow 0.7s ease-in-out;
  margin-top: 2%;
  margin-bottom: 4%;
}

h1:hover {
  text-shadow: 2px 2px #6e8387;
}

h2 {
  font-weight: bolder;
  color: #243e36;
}

h3 {
  text-align: left;
  color: #243e36;
}

/* Image Styles */
.profilepic>img {
  width: 250px;
  padding: 10px 10px;
  border-radius: 50%;
  transition: transform 0.7s ease-in-out;
}

/* transition Styles */
.profilepic>img:hover {
  transform: scale(1.1);
}


/* Link Styles */
a {
  color: #457b9d;
  text-align: center;
}

p {
  text-align: left;
}

/* Section Styles */
.profilepic {
  justify-content: center;
}

.cards {
  overflow: auto;
}

.about {
  border-radius: 5px;
  text-align: left;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.about:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) 
{
  .skillcard{
    margin-top: 2%;
  }
}
@media (min-width: 900px) {
  .lcards {
    grid-gap: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .rcards {
    grid-gap: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.educard {
  border-radius: 5px;
  text-align: center;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}
.educard>section{
  margin-top: 5%;
  margin-bottom: 5%;
}
.educard:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.skillcard {
  border-radius: 5px;
  text-align: center;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.skillcard:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Section Styles */
.projects {
  border-radius: 5px;
  grid-column: 1;
  text-align: center;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 2%;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
  margin-bottom: 4%;
}

.projects:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.work {
  border-radius: 5px;
  grid-column: 2;
  text-align: center;
  background-color: #c8d3d5;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 2%;
  margin-bottom: 4%;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.work:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.digital>footer{background: #fcfafa;}
.digital{
  border-radius: 100px;
  text-align: center;
  background: #fcfafa;
  padding: 2% 5%;
  border-radius: 1%;
}
.digital>footer>h2
{
  color: black;
  text-size-adjust: bold;
}
@media (max-width: 1000px)
{
.digital>footer>a>h3
{
  display: block;
  align-content: center;
  justify-content: center;
  color: #183a37;
  text-align: center;
  background-color: #c8d3d5;
  margin: 1% 20%;
  padding: 5px 10px;
  border-radius: 5px;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}
}
@media (min-width: 1001px)
{
.digital>footer>a>h3
{
  display: block;
  align-content: center;
  justify-content: center;
  color: #183a37;
  text-align: center;
  background-color: #c8d3d5;
  margin: 1% 35%;
  padding: 5px 10px;
  border-radius: 5px;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}
}

.digital>footer>a>h3:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.digital>footer>a:hover, .digital>footer>a:visited, .digital>footer>a:link, .digital>footer>a:active
{
    text-decoration: none;
}
.digital>a>h3:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*footer styles */
footer {
  border-radius: 100px;
  text-align: center;
  background: #6e8387;
  padding: 2% 5%;
  border-radius: 1%;
  clear: both;
}

footer>h2 {
  color: #fcfafa;
}

footer>a {
  background-color: #6e8387;
}

footer>a>img {
  width: 30px;
  padding: 8px 8px;
  margin: 0px 7px;
  background-color: #243e36;
  border-radius: 8px;
  transition: background-color 0.9s ease-in-out;
}

.lin:hover {
  background-color: #2e6a8f;
}

.mail:hover {
  background-color: #d64242;
}

.insta:hover {
  background-color: rgb(220, 71, 106);
}
