/*https://coolors.co/palette/bee9e8-62b6cb-1b4965-cae9ff-5fa8d3*/
/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');



body {
  margin: 0px;
  background-color: #fcfafa;
  font-family: 'Titillium Web', sans-serif;
}

.body {
  background-color: #fcfafa;
  padding: 5% 10% 0% 10%;
}

/* Heading Styles */
@media (min-width : 650px){
h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 71px;
  text-align: center;
  color: #183a37;
  transition: text-shadow 0.7s ease-in-out;
  margin-top: 2%;
  margin-bottom: 4%;
}
}
@media (max-width : 650px){
  h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 50px;
    text-align: center;
    color: #183a37;
    transition: text-shadow 0.7s ease-in-out;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  }

h1:hover {
  text-shadow: 2px 2px #6e8387;
}

h2 {
  font-weight: bolder;
  color: #243e36;
}

/* for large screens */
@media (min-width : 1150px)
{
.gall{
  text-align: center;
  display: grid;
  padding: 2px;
  transition: .7s;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
}

.i>img,.j>img,.k>img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(1);
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out,filter 0.7s ease-in-out;
  margin-top: 1%;
  margin-bottom: 1%;
}
}
/* for medium screens */
@media (max-width : 1150px)
{
.gall{
  text-align: center;
  display: grid;
  padding: 2px;
  transition: .7s;
  grid-template-columns: 1fr;
}

.i>img,.j>img,.k>img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(1);
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out,filter 0.7s ease-in-out;
  margin-top: 1%;
  margin-bottom: 1%;
}
img:hover
{
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: grayscale(0);
}
}

img:hover
{
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: grayscale(0);
}



.digital>footer{background: #fcfafa;}

.digital{
  border-radius: 100px;
  text-align: center;
  background: #fcfafa;
  padding: 2% 5%;
  border-radius: 1%;
  margin-top: -5%;
}
@media (max-width: 700px)
{
.digital>footer>a>h3
{
  display: block;
  align-content: center;
  justify-content: center;
  color: #183a37;
  text-align: center;
  background-color: #c8d3d5;
  margin: 1% 20%;
  padding: 5px 10px;
  border-radius: 5px;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}
}
@media (min-width: 700px){
  @media (max-width: 900px)
{
.digital>footer>a>h3
{
  display: block;
  align-content: center;
  justify-content: center;
  color: #183a37;
  text-align: center;
  background-color: #c8d3d5;
  margin: 1% 33%;
  padding: 5px 10px;
  border-radius: 5px;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}
}
}

@media (min-width: 900px){
  @media (max-width: 1200px)
{
.digital>footer>a>h3
{
  display: block;
  align-content: center;
  justify-content: center;
  color: #183a37;
  text-align: center;
  background-color: #c8d3d5;
  margin: 1% 37%;
  padding: 5px 10px;
  border-radius: 5px;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}
}
}
@media (min-width: 1200px)
{
.digital>footer>a>h3
{
  display: block;
  align-content: center;
  justify-content: center;
  color: #183a37;
  text-align: center;
  background-color: #c8d3d5;
  margin: 1% 40%;
  padding: 5px 10px;
  border-radius: 5px;
  transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
}
}

.digital>footer>a>h3:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.digital>footer>a:hover, .digital>footer>a:visited, .digital>footer>a:link, .digital>footer>a:active
{
    text-decoration: none;
}
.digital>a>h3:hover {
  transform: scale(1.025);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/*footer styles */
footer {
  transition: .7s;
  margin-top: 2%;
  clear: both;
  border-radius: 100px;
  text-align: center;
  background: #6e8387;
  padding: 2% 5%;
  border-radius: 1%;
  clear: both;
}

footer>h2 {
  color: #fcfafa;
}

footer>a {
  background-color: #6e8387;
}

footer>a>img {
  width: 30px;
  padding: 8px 8px;
  margin: 0px 7px;
  background-color: #243e36;
  border-radius: 8px;
  transition: background-color 0.9s ease-in-out;
}

.lin:hover {
  background-color: #2e6a8f;
}

.mail:hover {
  background-color: #d64242;
}

.insta:hover {
  background-color: rgb(220, 71, 106);
}
